config
resources
har-files

bin
old
pkg
etc/config

src/github.com/
src/golang.org/
src/gopkg.in/

sample.json
set-status.json

# compiled binary
**/panasonic-aquarea-smart-cloud-mqtt


# IDEA
**/.idea
**/*.iml
**/pipeline.gdsl

etc/config 
etc/config 
etc/config.cubetta
