AquareaSmartCloudURL="https://aquarea-smart.panasonic.com/"
Username="EMAIL"
Password="PASSWORD"
HttpTimeout=20
MqttServer="MQTT-SERVER-URL"
MqttPort="MQTT-SERVER-PORT"
MqttLogin="MQTT-USERNAME"
MqttPass="MQTT-PASSWORD"
MqttTopicRoot="aquarea"
MqttClientID="aquarea-test-pub"
MqttKeepalive=60
RefreshInterval=10
LogSecOffset=2550